h1
{
	text-align: center;
	outline-color: #CC0000;
	outline-width: 10px;
	font-family: "Comic Sans"
}

body
{
	background: #DDDDDD;
}

.input_box
{
	text-align: center;

}

.red{
	color: red;
}

#expense-list{
	list-style: none;
	font-size: 200%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#add-expense{
	width:200px; 
	height:40px;
	font-size: 150%;
}

.green{
	color: green;
}
.list{
	text-align: center;
}
#sumDisplay{
	font-size: 30px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}